/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
}

/* Login styles
-------------------------------------------------- */

.form-signin{
	width: 400px;
	padding-top: 60px;
	margin: 0 auto;
}

.logo{
	font-size: 24px;
}

.navbar-form .btn{
	padding: 6px 20px;
}