{% extends "baseon.html" %}
{% block content %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){

		var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('response', function(msg) {
            $('#log').html('<br>Received #' + msg.data);
        });

        $( "#echo" ).click(function() {
            $('#client').html('<br>Received #' + $('#emit_data').val());
            socket.emit('message', {data: $('#emit_data').val()});
        });
	});
</script>
<div id='log'></div>
<hr>
<div id="client"></div>
<br>
<input type="text" name="emit_data" id="emit_data" placeholder="Message">
<input id='echo' type="button" value="Echo">
{% endblock %}