{% extends "baseon.html" %}
{% block title %}Index{% endblock %} 
{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="row">
			<div class="col-xs-3 col-md-12">
				<a href="" class="thumbnail">
					<img src="static\img\mario-2.png" alt="Responsive image" class="img-responsive center-block" style="width:3.5em; height:3.5em;">
				</a>
			</div>
			<div class="col-xs-9 col-md-12">
				<div class="row">
					<div class="col-xs-9">
						<div><h5>HOME MARIO</h5></div>
						<div><small>January 12, 2015</small></div>
					</div>
					<div class="col-xs-3">
						<br>	
						<div class="pull-right">
							<a href="/index"><i class="fa fa-line-chart fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-xs-12 col-md-3">
		<div class="row">
			<div class="col-xs-3 col-md-12">
				<a href="" class="thumbnail">
					<img src="static\img\luigi-circle.jpg" alt="Responsive image" class="img-responsive center-block" style="width:3.5em; height:3.5em;">
				</a>
			</div>
			<div class="col-xs-9 col-md-12">
				<div class="row">
					<div class="col-xs-9">
						<div><h5>HOME LUIGI</h5></div>
						<div><small>January 12, 2015</small></div>
					</div>
					<div class="col-xs-3 ">
						<br>
						<div class="pull-right">
							<a href="/index"><i class="fa fa-line-chart fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-3">
		<div class="row">
			<div class="col-xs-3 col-md-12">
				<a href="" class="thumbnail">
					<img src="static\img\Darth_Vader-128.png" alt="Responsive image" class="img-responsive center-block" style="width:3.5em; height:3.5em;">
				</a>
			</div>
			<div class="col-xs-9 col-md-12">
				<div class="row">
					<div class="col-xs-9">
						<div><h5>HOME DARTH VADER</h5></div>
						<div><small>December 06, 2015</small></div>
					</div>
					<div class="col-xs-3 ">
						<br>
						<div class="pull-right">
							<a href="/index"><i class="fa fa-line-chart fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}